.flashsale-wrapper {
  padding: 140px 0 60px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.disabled {
  background-color: #ccc !important;
  opacity: 0.3 !important;
  cursor: default !important;

  &:hover {
    cursor: default !important;
    background-color: #ccc !important;
    opacity: 0.3 !important;
  }
}

.today {
  display: flex;
  align-items: center;
  gap: 16px;

  .block {
    width: 20px;
    height: 40px;
    background-color: #db4444;
    border-radius: 4px;
  }

  span {
    color: #db4444;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
}

.flashsale {
  display: flex;
  position: relative;
  align-items: flex-end;
  gap: 87px;
  margin-top: 24px;

  h1 {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #000;
  }
}

.btn-swiper {
  display: flex;
  gap: 8px;
  position: absolute;
  right: 0;

  .btn-control-swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    background-color: #f5f5f5;
    border-radius: 50%;

    &:hover {
      background-color: #ccc;
      opacity: 0.8;
    }
  }

  .arrow-right,
  .arrow-left {
    width: 16px;
    height: 16px;
  }
}

.product-fs {
  margin-top: 31px;

  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    min-height: 100%;
    height: auto;
  }
}

.view-all-product {
  display: flex;
  justify-content: center;
  margin-top: 60px;

  .view-all-product__btn {
    background-color: #db4444;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 48px;

    a {
      text-decoration: none;
      color: #fafafa;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media (max-width: 768px) {
  .flashsale {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    .btn-swiper {
      position: relative;
    }
  }
}

@media (max-width: 576px) {
  .flashsale {
    gap: 30px;
  }
}
