.wrapper {
  max-width: 470px;
}

.heading {
  font-size: 36px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.44px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  gap: 32px;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.4;
}

.input {
  width: 100%;
  min-height: 50px;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 8px 20px;
}

.checkboxItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.checkbox {
  height: 24px;
  width: 24px;
  line-height: 0;
  padding: 0 !important;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  background: none;
  outline: 0;
  opacity: 0.5;
  vertical-align: text-top;
  -webkit-appearance: none;
}

.checkbox:hover {
  opacity: 1;
}

.checkbox:checked {
  background-color: #db4444;
  opacity: 1;
}

.checkbox:before {
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;
  width: 4px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

.checkboxText {
  color: #000;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 992px) {
  .wrapper {
    max-width: 100%;
  }
}
