.wrapper {
  max-width: 800px;
  padding: 40px 32px 40px 31px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.information {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.input {
  min-width: 235px;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 13px 16px;
}

.massages {
  width: 100%;
  height: 207px;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 13px 16px;
  margin-top: 32px;
}

.btn {
  padding: 16px 48px;
  margin-top: 32px;
  align-self: flex-end;
  border-radius: 4px;
  background: #db4444;
  color: #fafafa;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  &:hover {
    opacity: 0.8;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .information {
    flex-direction: column;
    width: 100%;
  }

  .input {
    width: 100%;
  }
}
