.wrapper {
  margin-top: 140px;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
}

.block {
  width: 20px;
  height: 40px;
  background: #db4444;
  border-radius: 4px;
  margin-right: 16px;
}

.textTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #db4444;
  margin-bottom: 0;
}

.newArrival {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #000;
  margin-top: 20px;
}

.featured {
  min-height: 600px;
  margin-top: 60px;
  display: flex;
  gap: 30px;
}

.featuredCol {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-basis: 50%;
}

.featuredRow {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.ps5 {
  width: 100%;
  height: 600px;
}

.woman,
.perfume,
.speaker {
  width: 100%;
  height: 284px;
}

.service {
  width: 100%;
  gap: 88px;
  display: flex;
  justify-content: center;
  margin-top: 140px;
  margin-bottom: 140px;
}

.serviceIconWrapper {
  width: 58px;
  height: 58px;
  padding: 9px;
  background-color: #000;
  border-radius: 50%;
  opacity: 1;
}
.serviceIcon {
  width: 40px;
  height: 40px;
}

@media (max-width: 1200px) {
  .ps5 {
    width: 100%;
    height: 490px;
  }

  .woman,
  .perfume,
  .speaker {
    width: 100%;
    height: 230px;
  }
}

@media (max-width: 992px) {
  .featured {
    min-height: 360px;
  }

  .ps5 {
    height: 360px;
  }

  .woman,
  .perfume,
  .speaker {
    height: 165px;
  }
}

@media (max-width: 768px) {
  .featured {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }

  .featuredCol {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 50%;
  }

  .featuredRow {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .ps5 {
    height: 600px;
  }

  .woman,
  .perfume,
  .speaker {
    height: 284px;
  }

  .service {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .ps5 {
    height: 320px;
  }

  .woman,
  .perfume,
  .speaker {
    height: 150px;
  }

  .service {
    flex-direction: column;
  }
}
