.fa-bars-icon {
  opacity: 0;
  cursor: pointer;
}

.showBars {
  transform: translateX(0) !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.sidebar {
  padding-top: 40px;
}

.sidebar-item {
  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

.close-icon {
  display: none;
  width: 24px;
  height: 24px;
  color: #fff;
}

@media (max-width: 1200px) {
  .fa-bars-icon {
    opacity: 1;
    align-self: flex-start;
    margin-top: 12px;
  }

  .close-icon {
    display: block;
    align-self: flex-end;
  }

  .sidebar {
    width: 70%;
    min-height: 100vh;
    position: fixed;
    padding: 12px 0 0 12px;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 4;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    visibility: hidden;
    opacity: 0;
  }
}
