.category-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;

  .category-icon {
    width: 56px;
    height: 56px;
    color: #000;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .category-img svg {
    width: 56px;
    height: 56px;
  }

  .category-name {
    margin-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-bottom: 24px;
  }

  &:hover {
    background-color: #db4444;
    cursor: pointer;
  }

  &:hover .category-name {
    color: #fafafa;
  }

  &:hover .category-icon {
    g {
      stroke: #fff;
    }
  }
}
