.slider {
  margin-top: 40px;
  margin-left: 45px;
  min-width: 70%;

  .swiper-pagination {
    position: absolute !important;
  }
}

@media (max-width: 1200px) {
  .slider {
    margin-left: 0;
    .swiper-slide {
      width: 100% !important;
    }
  }
}
