.wrapper {
  width: 100%;
}

.breadcrumb {
  width: 100%;
  margin: 80px 0 42px;
}

.story {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: calc((100% - 1170px) / 2);
  gap: 75px;
}

.paragraph {
  max-width: 525px;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

.heading {
  color: #000;
  text-align: justify;
  font-size: 54px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 3.24px;
  margin-bottom: 40px;
}

.text {
  color: #000;
  font-size: 16px;
  line-height: 26px;
}

.storyImg {
  position: relative;
  width: 50vw;
  height: 609px;
}

.detail {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 140px 0 140px;
}

.member {
  margin-bottom: 140px;
}

.service {
  width: 100%;
  gap: 88px;
  display: flex;
  justify-content: center;
  margin-bottom: 140px;
}

.serviceIconWrapper {
  width: 58px;
  height: 58px;
  padding: 9px;
  background-color: #000;
  border-radius: 50%;
  opacity: 1;
}

.serviceIcon {
  width: 40px;
  height: 40px;
}

@media (max-width: 1200px) {
  .story {
    margin-left: calc((100% - 960px) / 2);
    gap: 0;
  }

  .storyImg {
    height: 500px;
  }

  .paragraph {
    max-width: 450px;
  }
}

@media (max-width: 992px) {
  .story {
    margin-left: calc((100% - 720px) / 2);
  }

  .paragraph {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .story {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
  }

  .storyImg {
    width: 100%;
    height: 350px;
  }

  .paragraph {
    max-width: 100%;
  }

  .service {
    flex-direction: column;
  }
}
