.wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background: #fff;
  padding: 40px 80px;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}

.heading {
  color: #db4444;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
}

.inputWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 24px;
}

.inputPassword {
  width: 100%;
  display: flex;
  flex-direction: column;

  .input {
    margin-bottom: 16px;
  }
}

.item {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.label {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  min-height: 50px;
  padding: 13px 16px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}
.btnCancel {
  color: #000;
  font-size: 16px;
  line-height: 24px;

  &:hover {
    color: #ccc;
  }
}

.btnSave {
  display: flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #db4444;
  color: #fafafa;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  &:hover {
    opacity: 0.8;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .inputWrapper {
    flex-direction: column;
    gap: 24px;
  }

  .item {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrapper {
    padding: 0;
  }
}
