.header {
  border-bottom: 1px solid #ccc;
}

.top-header {
  height: 48px;
  background-color: #000;
}

.top-header-main {
  display: flex;
  height: 48px;
  align-items: center;
}

.top-header__text {
  text-align: center;
}

.top-header__text-content {
  font-style: normal;
  color: #fafafa;
  font-weight: 400;
  font-size: 14px;
  margin-right: 8px;
  line-height: 21px;
}

.top-header__text-link {
  font-style: normal;
  font-weight: 600;
  color: #fafafa;
  font-size: 14px;
  line-height: 24px;
}

.top-header__language {
  display: flex;
  align-items: center;

  .language-switcher-select {
    font-style: normal;
    width: 78px;
    background-color: #000;
    color: #fafafa;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 21px;
    margin-left: 26px;
    cursor: pointer;
  }

  .language-switcher-select:hover {
    opacity: 0.8;
  }
}

.main-header {
}

.main-header__wrapper {
  padding: 40px 0 14px 0;
}

.main-header__brand {
  span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #000000;
    margin-left: 63px;
  }
}

.main-header__menu {
  list-style: none;
  display: flex;
  .main-header-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-left: 48px;
  }

  a:hover {
    color: #858585;
  }
}

.active {
  color: #000 !important;
  text-decoration: underline !important;
}

.main-header__actions {
  display: flex;
}

.main-header__actions-search {
  position: relative;
  display: flex;

  input {
    width: 243px;
    height: 38px;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 7px 12px 7px 20px;
    border: none;
    outline: none;
  }

  input::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  .icon-search {
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
  }
}

.icon-heart {
  cursor: pointer;
  margin-left: 24px;
  margin-right: 16px;
}

.icon-cart {
  cursor: pointer;
}

@media screen {
}

@media only screen and (max-width: 992px) {
  .main-header__actions {
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 768px) {
  .main-header__brand {
    span {
      margin: 0;
    }
  }

  .main-header__actions {
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 576px) {
  .main-header__brand {
    span {
      margin: 0;
    }
  }

  .main-header__actions {
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 200px) and (max-width: 575px) {
  .main-header__brand {
    display: flex;
    justify-content: center;
    span {
      margin: 0;
    }
  }

  .main-header__menu{
    display: flex;
    justify-content: center;
  }

  .main-header__actions {
    justify-content: center;
  }
}
