.time-area {
    display: flex;
    align-items: flex-end;
  }
  
  .time {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  
    h5 {
      margin-bottom: 4px !important;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #000;
    }
  }
  
  .time-block {
    display: flex;
  }
  
  .time-value {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    margin-bottom: 0px !important;
    letter-spacing: 0.04em;
    color: #000;
  }
  
  .semiclone {
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    color: #e07575;
    display: flex;
    align-items: flex-start;
    p {
      margin-bottom: 0 !important;
      margin-left: 17px;
      margin-right: 17px;
    }
  }