.wrapper {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.breadcrumb {
  margin: 80px 0 80px;
}

.table {
  border-radius: 4px;
  background-color: #fff;
}

.tableHeading {
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
